<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input type="text" id="m">
        <input type="submit">
    </form>
<div id="messages"></div>
 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        let socket = io();
        //emit

        let form = document.querySelector('form')
        form.addEventListener('submit',(e)=>{
            e.preventDefault();
            let m = document.getElementById("m")
            socket.emit('chat message',m.value)
            return false
        })
        //receive
        //msg is new broadcasted message from server
            socket.on("chat message",(msg)=>{
            let messages = document.getElementById("messages")
            let liTag = messages.innerHTML + `<li>${msg}</li>`;
            messages.innerHTML = liTag
            messages.append()
        })
        


        
    </script>
</body>
</html>