<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  Blogs Homepage


  <% blogs.forEach((blogObj)=>{ %>
  <a href="/blogs/<%= blogObj.id %>"><%= blogObj.title %></a>
  <% }) %>

</body>

</html>