*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    background-image: url("clear.jpg");
    background-size: cover;
    background-position:top center ;
    

}
.input{
    text-align: center;
    margin:100px 0;

}
input[type = "text"]{
   height: 50px;
   width: 600px;
   background: #e7e7e7;
   font-family: "Roboto",sans-serif;
   font-weight: bold;
   font-size: 20px;
   border: none;
   border-radius: 2px;
   padding: 10px 20px;

}
input[type = "submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
 
 }
 .display{
     text-align: center;

 }