<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    NEW DISH
    <form action='/newdishes' method = "POST">
        <select name="" id="">
        
    <% categories.forEach(record => { %>
        <option value="<%= record.id %> "> <%= record.name %> </option>
    <% }) %>
        </select>
        title: <input type="text" name="title"><br>
        description: <input type="text" name="description"><br>
        price: <input type="text" name="price"><br>
        imgURL: <input type="text" name="imageurl"><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
